<section class="main-header">
  <h1>いまどうしてる？</h1>
    <img src="<%= asset_path "dog.gif" %>">
</section>

<section class="moment container-fluid">
    <div class="row">
    <h1>Moments</h1>
        <div class="moment-images">
            <div class="col-md-3 col-sm-6">
                <div class="moment-image">
                    <img src="<%= asset_path "science.png" %>" class="img-responsive">
                    <h3>科学</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="moment-image">
                    <img src="<%= asset_path "sport2.png" %>" class="img-responsive">
                    <h3>スポーツ</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="moment-image">
                    <img src="<%= asset_path "music.png" %>" class="img-responsive">
                    <h3>音楽</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="moment-image">
                    <img src="<%= asset_path "twitter2.png" %>" class="img-responsive">
                    <h3>アカウントを作成しよう</h3>
                </div>
            </div>
        </div>
    </div>
</section>