<div class="container">
    <div class="wrapper col-md-2 col-sm-4">
        <p class="box1">
        今思うことをつぶやいてみよう。
        <br><br>
        <%= link_to "ツイートする", new_tweet_path, class: 'btn btn-default' %>
        </p>
    </div>
    
    <div class="wrapper col-md-8 col-md-offset-2 col-sm-8">
        <p><%= notice %></p>
    
        <h1>ツイート</h1>

        <% @tweets.each do |tweet| %>
        <div class="row">
            <p><%= tweet.content %></p>
            <%= link_to "編集", edit_tweet_path(tweet.id), class: 'btn btn-default btn-sm btn-success' %>
            <%= link_to '削除', tweet_path(tweet.id), method: :delete, data: {confirm: '本当に削除しますか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
        </div>
        <% end %>
    </div>
</div>
