<div class="container">
    <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
        <p><%= notice %></p>
    
        <h1>ツイート</h1>
            <%= link_to "ツイートする", new_tweet_path, class: 'btn btn-default' %>
        <% @tweets.each do |tweet| %>
        <div class="row">
            <p><%= tweet.content %></p>
            <%= link_to "ツイートを編集する", edit_tweet_path(tweet.id), class: 'btn btn-default btn-sm btn-success' %>
            <%= link_to 'ツイートを削除する', tweet_path(tweet.id), method: :delete, data: {confirm: '本当に削除しますか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
        </div>
        <% end %>
    </div>
</div>

